# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and temp
*.log
*.tmp
*.swp
*.swo

# Packaging / distribution
*.egg
*.egg-info/
dist/
build/
.eggs/

# Unit test / coverage
.pytest_cache/
.coverage
coverage.xml
htmlcov/

# IDE and editor-specific
.vscode/
.idea/
.DS_Store

# Type checkers
.mypy_cache/
